.esika {
    --cx-color-primary: lightgreen;
    --cx-color-secondary: rgb(76, 142, 164);
    --cx-color-dark: #212121;
}

.lbel {
    --cx-color-primary: black;
    --cx-color-secondary: blue;
    --cx-color-dark: red;
}

.cyzone {
    --cx-color-primary: #212121;
    --cx-color-secondary: black;
    --cx-color-dark:orange;
}